@media (min-width: 87.5em) {
  html.new-zanata {
    font-size: 18px;
  }
}

.new-zanata .l__wrapper,
.constrain {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}

.prose img {
	border: .25em solid #fff;
  margin: 1.5em 0;
}

.prose h2:first-of-type {
  margin-top: 0;
}

.bg--primary {
  background-image: url('../images/languages.png');
}

.bg--lower a {
  color: rgb(240, 242, 244);
}

.bg--lower a:hover {
  color: #fff;
}

.bg--lower a:active {
  color: #999;
}

@media (min-width: 58.125em) {
  .new-zanata .header__main-nav__menu {
    position: static;
    left: auto;
    margin-left: 0;
  }

  .new-zanata .header__login {
    position: relative;
    left: auto;
    right: auto;
  }
}

/*
Move to zanata css
*/

.new-zanata .heading--tertitary {
  font-weight: 300;
}

.new-zanata .l--pad-v-quarter {
  padding-top: .375em;
  padding-bottom: .375em;
}

.bx--inline-block {
  @include inline-block;
}

.bx--flex-16-9 {
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1em;
  overflow: hidden;
}

.bx--flex-16-9 iframe,
.bx--flex-16-9 object,
.bx--flex-16-9 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
